.section {

  // .section__our-work

  &__our-work {
  
  }
}

.our-work {

  // .our-work__inner

  &__header {
    background-color: #0E0E33;
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    color: #FFFFFF;
    position: relative;
    text-align: center;
  }

  // .our-work__title

  &__title {
    font-size: 41px;
    line-height: 122%;
    margin-bottom: 80px;
  }

  // .our-work__list

  &__list {
    display: flex;
    justify-content: space-between;
  }

  // .our-work__item

  &__item {
    span {
      font-size: 42px;
      line-height: 119%;
      margin-bottom: 15px;
    }

    p {
      font-size: 11px;
      line-height: 273%;
      margin-top: 15px;
    }
  }
}